.row
  .large-6.large-offset-3.columns
    .header
      %h3
        Repos

    %table.repos
      %tbody
        - @repos.each do |repo|
          %tr.repo_row
            %td.repo_link
              = link_to repo.path, repo_builds_path(repo)
            %td.app_type
              #{repo.app_type}

    = paginate @repos
