.row
  .large-10.large-offset-1.columns
    .header
      %h3
        = @repo.path
        - if params[:filter] == 'failed'
          &mdash; Failed Builds

      - if params[:filter] != 'failed'
        = link_to "Only Failed Builds", repo_builds_path(@repo, filter: :failed), class: 'builds_filter'
      - else
        = link_to "Show All Builds", repo_builds_path(@repo, filter: :all), class: 'builds_filter'

    %table.builds
      %thead
        %tr
          %th
            %span.column-label # Build
          %th
            %span.travis-icon
            %span.column-label Status
          - if @has_multiple_jobs
            %th.build_jobs
              <i class='fi-results'></i>
              %span.column-label Jobs
          %th.screenshots
            <i class="fi-photo"></i>
            %span.column-label Screens
          %th.commit
            <i class='fi-social-github'></i>
            %span.column-label Commit
          %th.branch
            <i class='fi-social-github'></i>
            %span.column-label Branch
          %th.build_date
            <i class='fi-clock'></i>
            %span.column-label When

      %tbody
        - @builds.each do |build|
          %tr.build_row
            %td{class: 'build_status ' << class_for_build_status(build) }
              .build_job
                = link_to "##{build.number}", repo_build_path(@repo, build)

            %td{class: 'build_status ' << class_for_build_status(build) }
              .build_status_message
                = link_to build.status_message, build.build_url
              .build_status_icon.hide
                - if build.passed?
                  <i class="fi-check"></i>
                - else
                  <i class="fi-x"></i>

            - if @has_multiple_jobs
              %td.build_jobs
                - build.jobs.each do |job|
                  .build_job{class: 'build_status ' << class_for_build_job_status(job) }
                    <a href="#{repo_build_job_path(@repo, build, job)}">
                    \##{job.travis_build_number}

                    %span.artifacts_count
                      &mdash;
                      <i class="fi-photo"></i>
                      = job.artifacts.count
                    </a>

            %td.screenshots
              = link_to "#{build.artifacts.count},", repo_build_url(@repo, build), title: 'Total'
              = link_to build.artifacts.all_changes.count, repo_build_url(@repo, build, changed: 1), class: 'changed', title: "Changed"

            %td.commit
              = link_to build.short_commit, build.compare_url
            %td.commit-mobile.hide
              = link_to "<i class='fi-social-github'></i>".html_safe, build.compare_url

            %td.branch= build.branch
            %td.build_date
              = time_ago_in_words build.created_at
              ago



    = paginate @builds
