- build = build_job.build
- repo  = build.repo
- has_artifacts = build_job.artifacts.exists?
- artifact_urls = {}
- artifacts = build_job.artifacts
- if params[:changes] == '1'
  - artifacts = artifacts.all_changes

.row.build_job{class: index == 0 ? '' : 'secondary'}
  .large-12.columns
    .header
      %h3
        - if index == 0
          %span.repo_path
            = link_to repo.path, repo_builds_path(repo)
          %span.separator &raquo;
        - if params[:controller] == 'builds'
          \##{build.number}
        - else
          = link_to "##{build.number}", repo_build_path(repo, build)
        %span.separator &raquo;
        - if params[:controller] == 'builds'
          = link_to "##{build_job.number}", repo_build_job_path(repo, build, build_job)
        - else
          \##{build_job.number}
      %br

      - if has_artifacts && index == 0
        .buttons
          <a href="#" class="show-carousel active"><i class="fi-list"></i></a>
          <a href="#" class="show-grid"><i class="fi-thumbnails"></i></i></a>

        - if build_job.artifacts.any?(&:changed?) && build_job.artifacts.count > 1
          - if params[:changes] == '1'
            Only Showing Changes &mdash;
            = link_to "Show All Screenshots", url_for
          - else
            = link_to "Only Show Changes", url_for(changes: 1)


    %ul.details
      %li.third_party_link.travis
        = link_to image_tag('travis_ci_logo.png', class: 'logo travis_logo'), build.build_url, target: '_blank'

      %li.status
        %span.build_status{class: 'build_status ' << class_for_build_job_status(build_job) }
          = link_to build.passed? ? 'Passed' : 'Failed', build.build_url, target: '_blank'

      %li.screenshots
        %span.info <i class='fi-photo'></i>
        %span.screenshots_count= build_job.artifacts.count.to_s

      -# For the build show page, we only show the commit on the first job
      - if index == 0
        %li.commit
          %span.gravatar
            = mail_to build.author_email, gravatar_image_tag(build.author_email, :alt => build.author_name, gravatar: { size: 32, secure: true })
          %span.commit= link_to build.short_commit, build.compare_url, target: '_blank'
          %span.branch (#{build.branch})
          %span.commit_message= truncate build.commit_message, length: 50


    - if has_artifacts
      .screenshots.grid.lightbox.clearing-container.hide{class: repo.app_type}
        %ul.clearing-thumbs{:data => {'clearing' => true}}
          - artifacts.each_with_index do |artifact, i|
            - artifact_urls[artifact.id] = artifact.artifact.expiring_url(15.minutes)
            %li
              = link_to image_tag(artifact_urls[artifact.id], 'data-caption' => artifact.description, 'data-previous-version-url' => artifact.previous_artifact_version_url(15.minutes), 'data-aspect-ratio' => artifact.aspect_ratio, class: ("screenshot " << class_for_artifact_status(artifact))), artifact_urls[artifact.id], class: 'th'

    - else
      %h1.no_screenshots
        No Screenshots

-# Place carousel outside of row so we can use the full screen width
- if has_artifacts
  .screenshots.carousel
    - artifacts.each_with_index do |artifact, i|
      .screenshot-container
        = link_to image_tag(artifact_urls[artifact.id], 'data-aspect-ratio' => artifact.aspect_ratio, class: ("screenshot " << class_for_artifact_status(artifact))), '#', class: 'screenshot-link', 'data-index' => i
        .screenshot-details
          %span.screenshot-index= "##{i + 1}"
          = artifact.description
