@import "variables";

// import the CSS framework
@import "foundation";
@import "foundation-icons";

// Just use the pro designer's CSS for smaller screens :)
@media all and (min-width: 800px) {
  // It would be nice to give the lightbox overlay some transparency,
  // but we have to fiddle with element visibility to get around
  // transform3d/z-index issues with the Slick carousel,
  // so the DOM is a bit ugly underneath.
  // Besides it looks fine the way it is.
  //
  // .clearing-blackout {
  //   background-color: rgba(51, 51, 51, 0.9);
  // }

  .clearing-container .clearing-assembled .clearing-container {
    .visible-img {
      background: none;
      img {
        padding-bottom: 42px;
      }

      p.clearing-caption {
        background: none;
        padding-bottom: 6px;
        color: #e7e7e7;
        margin-bottom: 3px;
      }
    }

    .carousel {
      background: none;

      > ul li {
        margin-right: 10px;
      }
    }
  }
}

// override for the "Home' navigation link
.top-bar .name {
  font-size: rem-calc(13);
  line-height: 45px; }
.top-bar .name a {
  font-weight: normal;
  color: white;
  padding: 0 15px; }

// THESE ARE EXAMPLES YOU CAN MODIFY
// create mixins using Foundation classes
@mixin twelve-columns {
  @extend .small-12;
  @extend .columns;
  }
@mixin six-columns-centered {
  @extend .small-6;
  @extend .columns;
  @extend .text-center;
  }
// create your own classes
// to make views framework-neutral
.column {
  @include six-columns-centered;
  }
.form {
  @include grid-column(6);
  }
.form-centered {
  @include six-columns-centered;
  }
.submit {
  @extend .button;
  @extend .radius;
  }
// apply styles to HTML elements
// to make views framework-neutral
main {
  @include twelve-columns;
  background-color: #eee;
  }
section {
  @extend .row;
  margin-top: 20px;
  }

// Styles for form views
// using Foundation
// generated by the rails_layout gem
.authform {
  padding-top: 30px;
  max-width: 320px;
  margin: 0 auto;
}
.authform form {
  @include panel();
  padding-bottom: 60px;
}
.authform form a {
  font-size: rem-calc(13);
}
.authform form p {
  font-size: rem-calc(13);
}
.authform .form-group {
  // for Bootstrap, not used for Foundation
}
.authform .form-control {
  // for Bootstrap, not used for Foundation
}
.authform .checkbox {
  // for Bootstrap, not used for Foundation
}
.authform fieldset {
  @include panel();
}
.authform #error_explanation {
  @extend .alert-box;
  @extend .alert;
}
.authform #error_explanation h2 {
  font-size: rem-calc(16);
  color: white;
}
.button-xs {
  @extend .button;
  @extend .radius;
  @extend .tiny;
}
