/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require slick-custom
 *= require_tree .
 *= require_self
 */

.row, section {
  max-width: 73.5rem;
}

body {
  background-color: #eee;
}

.top-bar-section {
  li:not(.has-form) a:not(.button) {
    padding-left: 20px;
    padding-right: 20px;
  }

  ul li > a, .top-bar a {
    font-size: 15px;
    line-height: 15px;
  }

  .repo_link {
    opacity: 0.9;
  }
}

.top-bar {
  img.logo {
    height: 100%;
  }

  li.active {
    background-color: #489be9;
  }

  li.signup {
    margin-left: -3px;
  }
}

* {
  letter-spacing: 0.05em;
}

main {
  padding-left: 0;
  padding-right: 0;
}

.home.row {
  padding: 30px;
  .home-content {
    padding-top: 10px;
  }
}
