@import "variables";

// Place all the styles related to the Builds controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

a.builds_filter {
  float: right;
  margin-top: 22px;
  white-space: nowrap;
}

$passed-color: #3ca553;
$errored-color: #d99f43;
$failed-color: #ce0814;

$changed-color: #b460e9;
$new-color: #44bb5e;

.passed  {
  color: $passed-color;
  a, td { color: $passed-color; }
  a:hover { color: darken( $passed-color, 12%); }
}
.errored  {
  color: $errored-color;
  a, td { color: $errored-color; }
  a:hover { color: darken( $errored-color, 12%); }
}
.failed  {
  color: $failed-color;
  a, td { color: $failed-color; }
  a:hover { color: darken( $failed-color, 12%); }
}

table.builds {
  width: 100%;
  margin: 15px 0 45px;

  th {
    color: #999;
    font-size: 1em;
    font-weight: normal;
    padding-left: 14px;
    i {
      font-size: 1.1em;
      margin-top: -1px;
      display: inline-block;
      vertical-align: middle;
      margin-right: 4px;
    }
  }

  a:hover img.travis-icon { opacity: 0.6; }

  span.travis-icon {
    display: inline-block;
    width: 14px;
    height: 14px;
    background-size: 14px 14px;
    opacity: 0.3;
    margin-top: -2px;
    vertical-align: middle;
    margin-right: 4px;
    background-image: image-url('travis_ci_icon-bw-32.png');
  }
  a:hover span.travis-icon {
    opacity: 0.9;
    background-image: image-url('travis_ci_icon-32.png');
  }

  a i {
    margin-right: 5px;
  }

  a:hover {
    span.artifacts_count, i.fi-photo {
      color: #666;
    }
  }

  &.actions i.fi-photo {
    margin-right: 2px;
  }

  td.screenshots a {
    font-size: 1.4em;
  }

  td.screenshots a.changed {
    color: $changed-color;
    &:hover {
      color: darken( $changed-color, 12%);
    }
  }

  td.screenshots a.new {
    color: $new-color;
    &:hover {
      color: darken( $new-color, 12%);
    }
  }

  span.artifacts_count {
    color: #bbb;
    margin-left: -2px;
    i.fi-photo {
      margin-right: 0;
    }
  }

  tr.build_row td {
    padding: 12px;
    padding-right: 0;
    padding-left: 16px;
    font-size: 1em;
    line-height: 1.6em;

    .build_job {
      display: block;
      padding-top: 4px;
      &:last-child { margin-bottom: 0; }

      a {
        font-size: 1.1em;
        line-height: 1.1em;
      }
    }
  }
}

.row .header {
  padding: 25px 5px 0px;

  h3 {
    color: #777;
    font-size: 2.5em;
    letter-spacing: 0.05em;
    margin: 0;
    vertical-align: middle;
    display: inline;

    a {
      font-size: 1em;
      letter-spacing: 0.05em;
    }
  }

  .buttons {
    display: inline;
    position: absolute;
    right: 16px;
    top: 18px;

    a {
      color: #777;
      font-size: 3em;
      display: inline-block;

      &:hover {
        color: #444;
      }

      &.active {
        color: #008cba;
        cursor: default;
      }
    }

    a.show-carousel i {
      margin-right: 16px;
      transform: rotate(90deg);
    }
  }
}

.builds.row .header {
  h1 {
    font-size: 2em;
  }
}


.build_job.row {
  span.separator {
    color: #aaa;
  }

  ul.details {
    font-size: 0.9em;
    letter-spacing: 0em;
    list-style: none;
    margin: 5px 0 50px 7px;
    height: 36px;
    color: #666;

    li.commit {
      .gravatar {
        margin-right: 7px;
        img {
          border-radius: 4px;
        }
      }
      span.commit {
        margin-right: 1px;
      }
      span.branch {
        color: #aaa;
        margin-right: 7px;
      }
    }

    li.status {
      font-size: 24px;
      margin-top: 2px;
      margin-right: 65px;
      display: inline-block;
      vertical-align: middle;
    }

    li.screenshots {
      margin-right: 65px;

      i {
        font-size: 35px;
        margin-top: 4px;
        display: inline-block;
        vertical-align: middle;
      }

      .screenshots_count {
        color: #aaa;
        font-size: 26px;
        margin-left: 12px;
        margin-top: 3px;
        display: inline-block;
        vertical-align: middle;
      }
    }

    li.third_party_link {
      margin-right: 14px;
      margin-top: 10px;
      display: inline-block;

      img.logo {
        width: 28px;
        height: 28px;
        // border: 2px solid #ddd;
        margin-top: -12px;

        &:hover {
          opacity: 0.8;
        }
      }

      a {
        letter-spacing: 0.05em;
        font-size: 0.82em;
      }
    }


    li {
      display: inline-block;
      margin-right: 32px;
      vertical-align: middle;

      span.info {
        font-weight: normal;
        color: #aaa;
      }
    }
  }

  h1.no_screenshots {
    font-size: 7em;
    font-weight: bold;
    color: #dadada;
    margin-top: 70px;
    margin-bottom: 50px;
  }
}

// Move passed / count up next to breadcrumbs
.row.build_job.secondary {
  ul.details, .header {
    display: inline-block;
  }
  .header {
    margin-right: 60px;
  }
  ul.details {
    vertical-align: middle;
    margin-bottom: 30px;
    li.status {
      margin-right: 80px;
    }
  }
}

.screenshots.lightbox {
  padding-top: 24px;
  margin-bottom: 48px;

  a.th {
    width: 100%;
  }
}

img.screenshot.changed {
  border: 4px solid $changed-color;
}
img.screenshot.new {
  border: 4px solid $new-color;
}

.screenshots.grid {
  img.screenshot {
    width: 137px;
  }

  ul.clearing-thumbs > li {
    margin: 0 0 15px 15px;
  }
}

.screenshots.carousel {
  width: 84%;
  margin-left: auto;
  margin-right: auto;

  .screenshot-container {
    display: inline-block;

    padding: 0 10px;
    max-width: 100%;

    span.screenshot-index {
      color: #bcbcbc;
      margin-right: 3px;
    }

    img.screenshot {
      background-color: rgba(0, 0, 0, 0.06);
    }

    .screenshot-details {
      //background-color: rgba(0, 0, 0, 0.06);
      background-color: #f9f9f9;
      color: #666;

      margin-top: 9px;
      text-align: left;
      display: block;
      width: 100%;
      font-size: 0.85em;

      padding: 10px 12px 9px;
    }
  }
}

$clearing-iphone-carousel-thumb-width: 100px;
$clearing-iphone-carousel-height: #{$clearing-iphone-carousel-thumb-width * 960 / 640};

.clearing-assembled .clearing-container .carousel {
  background: none;
}

// We know the aspect ratio of iPhone screenshots, so hack up the clearing CSS
// to force our aspect ratios
// But only do this if the screen has enough width
@media all and (min-width: 800px) {
  .screenshots.iphone.clearing-container .clearing-assembled .clearing-container {
    .visible-img {
      background: none;

      height: auto;
      position: absolute;
      top: 25px;
      left: 0;
      right: 0;
      bottom: $clearing-iphone-carousel-height;

      img {
        padding-bottom: 48px;
      }

      p.clearing-caption {
        padding-bottom: 16px;
      }
    }

    .carousel {
      height: $clearing-iphone-carousel-height;
      position: absolute;
      bottom: 0;
      background: none;

      > ul li {
        width: $clearing-iphone-carousel-thumb-width;
      }

      img {
        width: $clearing-iphone-carousel-thumb-width !important;
        height: $clearing-iphone-carousel-height !important;
      }
    }
  }
}

// Responsive queries

@media all and (max-width: 800px) {

  // Index
  // ----------------------

  table.builds {
    .build_date, .branch {
      display: none;
    }
  }

  a.builds_filter {
    float: none;
    display: block;
    margin: 0;
  }


  // Show
  // ----------------------

  .build_job.row ul.details {
    margin-bottom: 19px;
    li {
      display: block;
    }
  }

  // Only support grid view for smaller screens
  .row .header .buttons {
    display: none;
  }

  .screenshots.carousel {
    display: none !important;
  }

  .screenshots.grid {
    display: block !important;
  }
}

@media all and (max-width: 400px) {
  table.builds {
    th {
      text-align: center;
      i {
        font-size: 1.7em;
        line-height: 1.7em;
      }
      span.travis-icon {
        width: 24px;
        height: 24px;
        background-size: 24px 24px;
      }
    }

    .build_jobs {
      display: none;
    }

    td {
      padding-left: 0;
      text-align: center;
    }

    td.commit { display: none; }
    td.commit-mobile {
      display: block;
      a {
        color: #444;
        font-size: 1.7em;
        line-height: 1.7em;
      }
    }

    .build_status_message { display: none; }
    .build_status_icon {
      display: inline;
      font-size: 1.7em;
      line-height: 1.7em;
    }

    tr.build_row td .build_job a {
      font-size: 1.7em;
      line-height: 1.7em;
      font-weight: bold;
    }

    td.screenshots {
      a {
        font-size: 1.7em;
        line-height: 1.7em;
        font-weight: bold;
      }
      span.screenshot-label {
        display: none
      }
    }

    thead span.column-label {
      display: none;
    }
  }
}
