// Place all the styles related to the Builds controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

table.repos {
  margin: 15px 0 45px;
  min-width: 460px;

  td.app_type, .repo_row a {
    font-size: 2.2em;
    line-height: 1.5em;
  }

  td.app_type {
    padding-right: 22px;
    text-align: right;
    color: #ccc;
    font-weight: normal;
  }

  td.repo_link {
    padding-left: 25px;
    padding-right: 70px;
  }
}


@media all and (max-width: 500px) {
  table.repos {
    min-width: 0;

    td.app_type, .repo_row a {
        font-size: 1.2em;
        line-height: 1.2em;
    }

    td.app_type {
      padding-right: 20px;
    }

    td.repo_link {
      padding-left: 20px;
      padding-right: 40px;
    }
  }
}