-# navigation styled for Zurb Foundation 5
-# the syntax for data-topbar may need to change for Zurb Foundation 5
%nav.top-bar{"data-topbar" => true}
  %ul.title-area
    %li.name
      = image_tag "top-bar-logo.png", class: 'logo'

    -# No menu items if user is not signed in
    - if user_signed_in?
      %li.toggle-topbar.menu-icon
        %a{:href => "#"}
          Menu

  .top-bar-section
    %ul.left
      - if user_signed_in?
        - if Repo.count > 1
          %li.has-dropdown
            = link_to 'Repos', repos_path
            %ul.dropdown
              - Repo.all.limit(15).each do |repo|
                %li.repo_link= link_to repo.path, repo

        - if latest_build
          %li= link_to "Latest Build (#{latest_build.repo.name} ##{latest_build.number})", repo_build_path(latest_build.repo, latest_build)

    %ul.right
      - if user_signed_in?
        %li= link_to 'Sign out', destroy_user_session_path, :method=>'delete'
