!!!
%html
  %head
    %meta{:name => "viewport", :content => "width=device-width, initial-scale=1.0"}
    %title= content_for?(:title) ? yield(:title) : 'CI Gallery'
    %meta{:name => "description", :content => "#{content_for?(:description) ? yield(:description) : 'CI Gallery'}"}
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true
    <link href='//fonts.googleapis.com/css?family=Rambla:400,700' rel='stylesheet' type='text/css'>

    <link rel="icon" sizes="16x16" href="/favicon-16.png">
    <link rel="icon" sizes="32x32" href="/favicon-32.png">
    <link rel="icon" sizes="48x48" href="/favicon-48.png">

    -# Modernizr is required for Zurb Foundation
    = javascript_include_tag 'vendor/modernizr'
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body
    %header
      = render 'layouts/navigation'
    %main{:role => "main"}
      = render 'layouts/messages'
      = yield

